/************************************
ASIDE STYLING
************************************/



aside {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: 50px;
}

.author-contact {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-right: 15px;

  p {
    margin: 0;
    color: #106DB3;
    font-size: 20px;
    text-transform: uppercase;;
    letter-spacing: -1px;
  }

  a {
    background-color: transparent;
    font-size: 13px;
    color: #A3B3BF;
    text-decoration: none;
    margin-left: 9px;
  }


}

.author-image {
  background-image: linear-gradient(rgba(25, 116, 187, 0.6), rgba(25, 116, 187, 0.6)), url("../surfImages/justin.jpg");
    // background-image: url(surfImages/hero.jpg);
    background-size: cover;
    width: 34%;
    border-radius: 100%;
    height: 90px;
    transform: rotateZ(-90deg);
    margin-left: 32%;
    background-position-x: 100%;
}

.advertisement {
  position: relative;
  width: 100%;
  margin-top: 60px;

  img {
    width: 100%;
    height: 270px;
  }

  a {
    margin-left: 149px;
    color: #A3B3BF;
    font-size: 14px;
  }
}


.sidebar-heading h3 {
  margin-bottom: -10px;
  color: #106DB3;
}
.sidebar-heading p, .sidebar-heading a {
  color: #A3B3BF;
  font-size: 13px;
  letter-spacing: 1px;
}
